swagger: "2.0"
info:
  title: beego Test API
  description: beego has a very cool tools to autogenerate documents for your API
  version: 1.0.0
  termsOfService: http://beego.me/
  contact:
    email: astaxie@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
basePath: /v1
paths:
  /creditos/ObtenerMinimo:
    get:
      tags:
      - creditos
      description: Obtener el numero de creditos minimos necesarios para solicitar
        materias de posgrado
      operationId: CreditosController.ObtenerMinimo
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/.make(map[string]string)'
        "403":
          description: ""
  /creditos_materias/ObtenerCreditos:
    get:
      tags:
      - creditos_materias
      description: Obtener el número de créditos minimos que se pueden cursar en la
        modalidad de materias de posgrado o profundización
      operationId: CreditosMateriasController.ObtenerCreditos Materias
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.CreditosMaterias'
        "403":
          description: ""
  /cupos/Obtener:
    get:
      tags:
      - cupos
      description: Obtener el número máximo de cupos de excelencia academica y adicionales
        que se pueden aceptar en la modalidad de materias de posgrado y profundización
      operationId: CuposController.Obtener
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.Cupos'
        "403":
          description: ""
  /evaluadores/ObtenerEvaluadores:
    post:
      tags:
      - evaluadores
      description: get Evaluadores
      operationId: EvaluadoresController.ObtenerEvaluadores
      parameters:
      - in: body
        name: body
        description: body for Registrar content
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/.make(map[string]string)'
        "403":
          description: ""
  /fechas/ObtenerFechas:
    get:
      tags:
      - fechas
      description: Obtener fechas para el procso de selección de admitidos
      operationId: FechasController.ObtenerFechas
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/.make(map[string]string)'
        "403":
          description: ""
  /verificarRequisitos/CantidadModalidades:
    post:
      tags:
      - verificarRequisitos
      description: Validar si la cantidad de estudiantes solicitados es menor o igual
        a la cantidad de estudiantes que permite la modalidad
      operationId: VerificarRequisitosController.CantidadModalidades
      parameters:
      - in: body
        name: body
        description: body for CantidadModalidades content
        required: true
        schema:
          $ref: '#/definitions/models.CantidadModalidad'
      responses:
        "200":
          description: '{bool}'
        "403":
          description: body is empty
  /verificarRequisitos/Registrar:
    post:
      tags:
      - verificarRequisitos
      description: Validar si un estudiante cumple con los requisitos para cursar
        una modalidad
      operationId: VerificarRequisitosController.Registrar
      parameters:
      - in: body
        name: body
        description: body for Registrar content
        required: true
        schema:
          $ref: '#/definitions/models.Datos'
      responses:
        "200":
          description: '{bool}'
        "403":
          description: body is empty
definitions:
  .make(map[string]string):
    type: object
  models.CantidadModalidad:
    title: CantidadModalidad
    type: object
    properties:
      Cantidad:
        type: string
      Modalidad:
        type: string
  models.CreditosMaterias:
    title: CreditosMaterias
    type: object
    properties:
      MateriasPosgrado:
        type: integer
        format: int64
      MateriasProfundizacion:
        type: integer
        format: int64
  models.Cupos:
    title: Cupos
    type: object
    properties:
      Cupos_adicionales:
        type: integer
        format: int64
      Cupos_excelencia:
        type: integer
        format: int64
  models.Datos:
    title: Datos
    type: object
    properties:
      Codigo:
        type: string
      Estado:
        type: string
      Modalidad:
        type: integer
        format: int64
      Nivel:
        type: string
      Nombre:
        type: string
      PorcentajeCursado:
        type: string
      Promedio:
        type: string
      Rendimiento:
        type: string
      Tipo:
        type: string
      TipoCarrera:
        type: string
tags:
- name: verificarRequisitos
  description: |
    VerificarRequisitosController operations for VerificarRequisitos
- name: cupos
  description: |
    CuposController operations for Cupos
- name: fechas
  description: |
    FechasController operations for Fechas
- name: creditos
  description: |
    CreditosController operations for Creditos
- name: evaluadores
  description: |
    EvaluadoresController operations for Evaluadores
- name: creditos_materias
  description: |
    CreditosMateriasController operations for CreditosMaterias
